<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="INFO_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.redhat.bcaapi" additivity="false" level="DEBUG">
        <appender-ref ref="INFO_STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="INFO_STDOUT" />
    </root>

</configuration>